body {
    background-color: #acbdba;
    color: #051014;
}

#menuContainer {
    max-width: 600px;
}

.main-heading {
    color: #a599b5;
    font-size: 2.625rem;
    text-shadow: 3px 3px 1px #051014;
    text-transform: uppercase;
}